schema/test/schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- XML Schema schema for XML Schemas: Part 1: Structures -->
<!DOCTYPE schema PUBLIC "-//W3C//DTD XMLSCHEMA 200010//EN" "XMLSchema.dtd" [
<!--
     keep this schema XML1.0 DTD valid
  -->
<!ATTLIST element xmlns:x CDATA #IMPLIED>
<!-- provide ID type information even for parsers which only read the
     internal subset -->
<!ATTLIST schema          id  ID  #IMPLIED>
<!ATTLIST complexType     id  ID  #IMPLIED>
<!ATTLIST complexContent  id  ID  #IMPLIED>
<!ATTLIST simpleContent   id  ID  #IMPLIED>
<!ATTLIST extension       id  ID  #IMPLIED>
<!ATTLIST element         id  ID  #IMPLIED>
<!ATTLIST group           id  ID  #IMPLIED> 
<!ATTLIST all             id  ID  #IMPLIED>
<!ATTLIST choice          id  ID  #IMPLIED>
<!ATTLIST sequence        id  ID  #IMPLIED>
<!ATTLIST any             id  ID  #IMPLIED>
<!ATTLIST anyAttribute    id  ID  #IMPLIED>
<!ATTLIST attribute       id  ID  #IMPLIED>
<!ATTLIST attributeGroup  id  ID  #IMPLIED>
<!ATTLIST unique          id  ID  #IMPLIED>
<!ATTLIST key             id  ID  #IMPLIED>
<!ATTLIST keyref          id  ID  #IMPLIED>
<!ATTLIST selector        id  ID  #IMPLIED>
<!ATTLIST field           id  ID  #IMPLIED>
<!ATTLIST include         id  ID  #IMPLIED>
<!ATTLIST import          id  ID  #IMPLIED>
<!ATTLIST redefine        id  ID  #IMPLIED>
<!ATTLIST notation        id  ID  #IMPLIED>
]>
<schema targetNamespace="http://www.w3.org/2001/XMLSchema" blockDefault="#all" elementFormDefault="qualified" version="Id: XMLSchema.xsd,v 1.26 2000/10/23 08:58:09 ht Exp " xmlns="http://www.w3.org/2001/XMLSchema">

 <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/2000/CR-xmlschema-1-20001024/structures.html">
   The schema corresponding to this document is normative,
   with respect to the syntactic constraints it expresses in the
   XML Schema language.  The documentation (within &lt;documentation> elements)
   below, is not normative, but rather highlights important aspects of
   the W3C Recommendation of which this is a part</documentation>
 </annotation>

 <annotation>
   <documentation xml:lang="en">
   The simpleType element and all of its members are defined
   in datatypes.xsd</documentation>
 </annotation>

 <include schemaLocation="datatypes.xsd"/>

 <import namespace="http://www.w3.org/XML/1998/namespace"
         schemaLocation="http://www.w3.org/2000/10/xml.xsd">
   <annotation>
     <documentation xml:lang="en">
       Get access to the xml: attribute groups for xml:lang
       as declared on 'documentation' below
     </documentation>
   </annotation>
 </import>

 <complexType name="openAttrs">
   <annotation>
     <documentation xml:lang="en">
       This type is extended by almost all schema types
       to allow attributes from other namespaces to be
       added to user schemas.
     </documentation>
   </annotation>
   <complexContent>
     <restriction base="anyType">
       <anyAttribute namespace="##other" processContents="lax"/>
     </restriction>
   </complexContent>
 </complexType>

 <complexType name="annotated">
   <annotation>
     <documentation xml:lang="en">
       This type is extended by all types which allow annotation
       other than &lt;schema&gt; itself
     </documentation>
   </annotation>
   <complexContent>
     <extension base="openAttrs">
       <sequence>
 <element ref="annotation" minOccurs="0"/>
       </sequence>
       <attribute name="id" type="ID"/>
     </extension>
   </complexContent>
 </complexType>

 <element name="schemaTop" abstract="true" type="annotated">
  <annotation>
   <documentation xml:lang="en">
   This abstract element defines an substitution group over the
   elements which occur freely at the top level of schemas.  These are:
   simpleType, complexType, element, attribute, attributeGroup, group, notation
   All of their types are based on the "annotated" type by extension.</documentation>
  </annotation>
 </element>
 
 <element name="redefinable" abstract="true" substitutionGroup="schemaTop">
  <annotation>
   <documentation xml:lang="en">
   This abstract element defines a substitution group for the
   elements which can self-redefine (see &lt;redefine> below).</documentation>
  </annotation>
 </element>

 <simpleType name="formChoice">
  <annotation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <restriction base="NMTOKEN">
   <enumeration value="qualified"/>
   <enumeration value="unqualified"/>
  </restriction>
 </simpleType>

 <element name="schema" id="schema">
  <annotation>
    <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-schema"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="openAttrs">
     <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
       <element ref="include"/>
       <element ref="import"/>
       <element ref="redefine"/>
       <element ref="annotation"/>
      </choice>
      <sequence minOccurs="0" maxOccurs="unbounded">
       <element ref="schemaTop"/>
       <element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
     </sequence>
     <attribute name="targetNamespace" type="uriReference"/>
     <attribute name="version" type="token"/>
     <attribute name="finalDefault" type="derivationSet" use="default" value=""/>
     <attribute name="blockDefault" type="blockSet" use="default" value=""/>
     <attribute name="attributeFormDefault" type="formChoice" use="default" value="unqualified"/>
     <attribute name="elementFormDefault" type="formChoice" use="default" value="unqualified"/>
     <attribute name="id" type="ID"/>
    </extension>
   </complexContent>
  </complexType>

  <key name="element">
   <selector xpath="element"/>
   <field xpath="@name"/>
  </key>

  <key name="attribute">
   <selector xpath="attribute"/>
   <field xpath="@name"/>
  </key>

  <key name="type">
   <selector xpath="complexType|simpleType"/>
   <field xpath="@name"/>
  </key>
 
  <key name="group">
   <selector xpath="group"/>
   <field xpath="@name"/>
  </key>
 
  <key name="attributeGroup">
   <selector xpath="attributeGroup"/>
   <field xpath="@name"/>
  </key>
 
  <key name="notation">
   <selector xpath="notation"/>
   <field xpath="@name"/>
  </key>

  <key name="identityConstraint">
   <selector xpath=".//key|.//unique|.//keyref"/>
   <field xpath="@name"/>
  </key>

 </element>

 <simpleType name="allNNI">
  <annotation><documentation xml:lang="en">
   for maxOccurs</documentation></annotation>
  <union memberTypes="nonNegativeInteger">
   <simpleType>
    <restriction base="NMTOKEN">
     <enumeration value="unbounded"/>
    </restriction>
   </simpleType>
  </union>
 </simpleType>

 <attributeGroup name="occurs">
  <annotation><documentation xml:lang="en">
   for all particles</documentation></annotation>
  <attribute name="minOccurs" type="nonNegativeInteger" use="default" value="1"/>
  <attribute name="maxOccurs" type="allNNI" use="default" value="1"/>
 </attributeGroup>

 <attributeGroup name="defRef">
  <annotation><documentation xml:lang="en">
   for element, group and attributeGroup,
   which both define and reference</documentation></annotation>
  <attribute name="name" type="NCName"/>
  <attribute name="ref" type="QName"/>
 </attributeGroup>

 <group name="typeDefParticle">
  <annotation>
    <documentation xml:lang="en">
   'complexType' uses this</documentation></annotation>
  <choice>
   <element name="group" type="groupRef"/>
   <element ref="all"/>
   <element ref="choice"/>
   <element ref="sequence"/>
  </choice>
 </group>
 
 <group name="groupDefParticle">
  <annotation>
    <documentation xml:lang="en">
   'topLevelGroup' uses this</documentation></annotation>
  <choice>
   <element ref="all"/>
   <element ref="choice"/>
   <element ref="sequence"/>
  </choice>
 </group>

 <group name="nestedParticle">
  <choice>
   <element name="element" type="localElement"/>
   <element name="group" type="groupRef"/>
   <element ref="choice"/>
   <element ref="sequence"/>
   <element ref="any"/>
  </choice>
 </group>
 
 <group name="particle">
  <choice>
   <element name="element" type="localElement"/>
   <element name="group" type="groupRef"/>
   <element ref="all"/>
   <element ref="choice"/>
   <element ref="sequence"/>
   <element ref="any"/>
  </choice>
 </group>
 
 <complexType name="attribute">
  <complexContent>
   <extension base="annotated">
    <sequence>
     <element name="simpleType" minOccurs="0" type="localSimpleType"/>
    </sequence>
    <attributeGroup ref="defRef"/>
    <attribute name="type" type="QName"/>
    <attribute name="use" use="default" value="optional">
     <simpleType>
      <restriction base="NMTOKEN">
       <enumeration value="prohibited"/>
       <enumeration value="optional"/>
       <enumeration value="required"/>
       <enumeration value="default"/>
       <enumeration value="fixed"/>
      </restriction>
     </simpleType>
    </attribute>
    <attribute name="value" use="optional" type="string"/>
    <attribute name="form" type="formChoice"/>
   </extension>
  </complexContent>
 </complexType>
 
 <complexType name="topLevelAttribute">
  <complexContent>
   <restriction base="attribute">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <element name="simpleType" minOccurs="0" type="localSimpleType"/>
    </sequence>
    <attribute name="ref" use="prohibited"/>
    <attribute name="form" use="prohibited"/>
    <attribute name="use" use="prohibited"/>
    <attribute name="name" use="required" type="NCName"/>
   </restriction>
  </complexContent>
 </complexType>

 <group name="attrDecls">
  <sequence>
   <choice minOccurs="0" maxOccurs="unbounded">
    <element name="attribute" type="attribute"/>
    <element name="attributeGroup" type="attributeGroupRef"/>
   </choice>
   <element ref="anyAttribute" minOccurs="0"/>
  </sequence>
 </group>

 <element name="anyAttribute" type="wildcard" id="anyAttribute">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-anyAttribute"/>
  </annotation>
 </element>

 <group name="complexTypeModel">
  <choice>
      <element ref="simpleContent"/>
      <element ref="complexContent"/>
      <sequence>
       <annotation>
        <documentation xml:lang="en">
   This branch is short for
   &lt;complexContent>
   &lt;restriction base="anyType">
   ...
   &lt;/restriction>
   &lt;/complexContent></documentation>
       </annotation>
       <group ref="typeDefParticle" minOccurs="0"/>
       <group ref="attrDecls"/>
      </sequence>
  </choice>
 </group>

 <complexType name="complexType" abstract="true">
  <complexContent>
   <extension base="annotated">
    <group ref="complexTypeModel"/>
    <attribute name="name" type="NCName">
     <annotation>
      <documentation xml:lang="en">
      Will be restricted to required or forbidden</documentation>
     </annotation>
    </attribute>
    <attribute name="mixed" type="boolean" use="default" value="false">
     <annotation>
      <documentation xml:lang="en">
      Not allowed if simpleContent child is chosen.
      May be overriden by setting on complexContent child.</documentation>
    </annotation>
    </attribute>
    <attribute name="abstract" type="boolean" use="default" value="false"/>
    <attribute name="final" type="derivationSet"/>
    <attribute name="block" type="derivationSet" use="default" value=""/>
   </extension>
  </complexContent>
 </complexType>
 
 <complexType name="topLevelComplexType">
  <complexContent>
   <restriction base="complexType">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="complexTypeModel"/>
    </sequence>
    <attribute name="name" type="NCName" use="required"/>
   </restriction>
  </complexContent>
 </complexType>
 
 <complexType name="localComplexType">
  <complexContent>
   <restriction base="complexType">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="complexTypeModel"/>
    </sequence>
    <attribute name="name" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>
 
 <complexType name="restrictionType">
  <complexContent>
   <extension base="annotated">
    <sequence>
     <choice>
      <group ref="typeDefParticle" minOccurs="0"/>
      <group ref="simpleRestrictionModel" minOccurs="0"/>
     </choice>
     <group ref="attrDecls"/>
    </sequence>
    <attribute name="base" type="QName" use="required"/>
   </extension>
  </complexContent>       
 </complexType>

 <complexType name="complexRestrictionType">
  <complexContent>
   <restriction base="restrictionType">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="typeDefParticle" minOccurs="0"/>
     <group ref="attrDecls"/>
    </sequence>
   </restriction>
  </complexContent>       
 </complexType>

 <complexType name="extensionType">
  <complexContent>
   <extension base="annotated">
    <sequence>
     <group ref="typeDefParticle" minOccurs="0"/>
     <group ref="attrDecls"/>
    </sequence>
    <attribute name="base" type="QName" use="required"/>
   </extension>
  </complexContent>       
 </complexType>

 <element name="complexContent" id="complexContent">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-complexContent"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="annotated">
     <choice>
      <element name="restriction" type="complexRestrictionType"/>
      <element name="extension" type="extensionType"/>
     </choice>     
     <attribute name="mixed" type="boolean">
      <annotation>
       <documentation xml:lang="en">
       Overrides any setting on complexType parent.</documentation>
      </annotation>
    </attribute>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <complexType name="simpleRestrictionType">
  <complexContent>
   <restriction base="restrictionType">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="simpleRestrictionModel" minOccurs="0"/>
     <group ref="attrDecls"/>
    </sequence>
   </restriction>
  </complexContent>
 </complexType>

 <complexType name="simpleExtensionType">
  <complexContent>
   <restriction base="extensionType">
    <sequence>
     <annotation>
      <documentation xml:lang="en">
      No typeDefParticle group reference</documentation>
     </annotation>
     <element ref="annotation" minOccurs="0"/>
     <group ref="attrDecls"/>
    </sequence>
   </restriction>
  </complexContent>
 </complexType>

 <element name="simpleContent" id="simpleContent">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-simpleContent"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="annotated">
     <choice>
      <element name="restriction" type="simpleRestrictionType"/>
      <element name="extension" type="simpleExtensionType"/>
     </choice>
    </extension>
   </complexContent>
  </complexType>
 </element>
 
 <element name="complexType" substitutionGroup="redefinable" type="topLevelComplexType" id="complexType">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-complexType"/>
  </annotation>
 </element>

 <simpleType name="derivationControl">
  <annotation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <restriction base="NMTOKEN">
   <enumeration value="substitution"/>
   <enumeration value="extension"/>
   <enumeration value="restriction"/>
  </restriction>
 </simpleType>

 <simpleType name="reducedDerivationControl">
  <annotation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <restriction base="derivationControl">
   <enumeration value="extension"/>
   <enumeration value="restriction"/>
  </restriction>
 </simpleType>

 <simpleType name="blockSet">
  <annotation>
   <documentation xml:lang="en">
   #all or (possibly empty) subset of {substitution, extension,
   restriction}</documentation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <union>
   <simpleType>    
    <restriction base="token">
     <enumeration value="#all"/>
    </restriction>
   </simpleType>
   <simpleType>
    <list itemType="derivationControl"/>
   </simpleType>
  </union>  
 </simpleType>

 <simpleType name="derivationSet">
  <annotation>
   <documentation xml:lang="en">
   #all or (possibly empty) subset of {extension, restriction}</documentation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <union>
   <simpleType>    
    <restriction base="token">
     <enumeration value="#all"/>
    </restriction>
   </simpleType>
   <simpleType>
    <list itemType="reducedDerivationControl"/>
   </simpleType>
  </union>
 </simpleType>

  

 <complexType name="element" abstract="true">
  <annotation>
   <documentation xml:lang="en">
   The element element can be used either
   at the toplevel to define an element-type binding globally,
   or within a content model to either reference a globally-defined
   element or type or declare an element-type binding locally.
   The ref form is not allowed at the top level.</documentation>
  </annotation>

  <complexContent>
   <extension base="annotated">
    <sequence>
     <choice minOccurs="0">
      <element name="simpleType" type="localSimpleType"/>
      <element name="complexType" type="localComplexType"/>
     </choice>
     <element ref="identityConstraint" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attributeGroup ref="defRef"/>
    <attribute name="type" type="QName"/>
    <attribute name="substitutionGroup" type="QName"/>
    <attributeGroup ref="occurs"/>
    <attribute name="default" type="string"/>
    <attribute name="fixed" type="string"/>
    <attribute name="nillable" type="boolean" use="default" value="false"/>
    <attribute name="abstract" type="boolean" use="default" value="false"/>
    <attribute name="final" type="derivationSet" use="default" value=""/>
    <attribute name="block" type="blockSet" use="default" value=""/>
    <attribute name="form" type="formChoice"/>
   </extension>
  </complexContent>
 </complexType>
 
 <complexType name="topLevelElement">
  <complexContent>
   <restriction base="element">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <choice minOccurs="0">
      <element name="simpleType" type="localSimpleType"/>
      <element name="complexType" type="localComplexType"/>
     </choice>
     <element ref="identityConstraint" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="ref" use="prohibited"/>
    <attribute name="form" use="prohibited"/>
    <attribute name="minOccurs" use="prohibited"/>
    <attribute name="maxOccurs" use="prohibited"/>
    <attribute name="name" use="required" type="NCName"/>
   </restriction>
  </complexContent>
 </complexType>
 
 <complexType name="localElement">
  <complexContent>
   <restriction base="element">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <choice minOccurs="0">
      <element name="simpleType" type="localSimpleType"/>
      <element name="complexType" type="localComplexType"/>
     </choice>
     <element ref="identityConstraint" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="substitutionGroup" use="prohibited"/>
    <attribute name="final" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <element name="element" type="topLevelElement" substitutionGroup="schemaTop" id="element">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-element"/>
  </annotation>
 </element>

 <complexType name="group" abstract="true">
  <annotation>
   <documentation xml:lang="en">
   group type for explicit groups, named top-level groups and
   group references</documentation>
  </annotation>
  <complexContent>
   <extension base="annotated">
    <group ref="particle" minOccurs="0" maxOccurs="unbounded"/>
    <attributeGroup ref="defRef"/>
    <attributeGroup ref="occurs"/>
   </extension>
  </complexContent>
 </complexType>
 
 <complexType name="realGroup">
  <complexContent>
   <restriction base="group">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="groupDefParticle" minOccurs="0" maxOccurs="1"/>
    </sequence>
   </restriction>
  </complexContent>
 </complexType>

 <complexType name="namedGroup">
  <complexContent>
   <restriction base="realGroup">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="groupDefParticle" minOccurs="1" maxOccurs="1"/>
    </sequence>
    <attribute name="name" use="required" type="NCName"/>
    <attribute name="ref" use="prohibited"/>
    <attribute name="minOccurs" use="prohibited"/>
    <attribute name="maxOccurs" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <complexType name="groupRef">
  <complexContent>
   <restriction base="realGroup">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
    </sequence>
    <attribute name="ref" use="required" type="QName"/>
    <attribute name="name" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <complexType name="explicitGroup">
  <annotation>
   <documentation xml:lang="en">
   group type for the three kinds of group</documentation>
  </annotation>
  <complexContent>
   <restriction base="group">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="nestedParticle" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="name" type="NCName" use="prohibited"/>
    <attribute name="ref" type="QName" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <element name="all" id="all">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-all"/>
  </annotation>
  <complexType>
   <annotation>
    <documentation xml:lang="en">
   Only elements allowed inside</documentation>
   </annotation>
   <complexContent>
    <restriction base="explicitGroup">
     <sequence>
      <element ref="annotation" minOccurs="0"/>
      <element name="element" minOccurs="0" maxOccurs="unbounded">
       <complexType>
        <annotation>
         <documentation xml:lang="en">restricted max/min</documentation>
        </annotation>
        <complexContent>
         <restriction base="localElement">
          <sequence>
           <element ref="annotation" minOccurs="0"/>
           <choice minOccurs="0">
            <element name="simpleType" type="localSimpleType"/>
            <element name="complexType" type="localComplexType"/>
           </choice>
           <element ref="identityConstraint" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attribute name="minOccurs" use="default" value="1">
           <simpleType>
            <restriction base="nonNegativeInteger">
             <enumeration value="0"/>
             <enumeration value="1"/>
            </restriction>
           </simpleType>
          </attribute>
          <attribute name="maxOccurs" use="default" value="1">
           <simpleType>
            <restriction base="allNNI">
             <enumeration value="0"/>
             <enumeration value="1"/>
            </restriction>
           </simpleType>
          </attribute>
         </restriction>
        </complexContent>
       </complexType>    
      </element>
     </sequence>
     <attribute name="minOccurs" use="default" value="1">
      <simpleType>
       <restriction base="nonNegativeInteger">
        <enumeration value="1"/>
       </restriction>
      </simpleType>
     </attribute>
     <attribute name="maxOccurs" use="default" value="1">
      <simpleType>
       <restriction base="allNNI">
        <enumeration value="1"/>
       </restriction>
      </simpleType>
     </attribute>
    </restriction>
   </complexContent>
  </complexType>
 </element>

 <element name="choice" type="explicitGroup" id="choice">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-choice"/>
  </annotation>
 </element>

 <element name="sequence" type="explicitGroup" id="sequence">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-sequence"/>
  </annotation>
 </element>

 <element name="group" substitutionGroup="redefinable" type="namedGroup" id="group">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-group"/>
  </annotation>
 </element>

 <complexType name="wildcard">
  <complexContent>
   <extension base="annotated">
    <attribute name="namespace" type="namespaceList" use="default" value="##any"/>
    <attribute name="processContents" use="default" value="strict">
     <simpleType>
      <restriction base="NMTOKEN">
       <enumeration value="skip"/>
       <enumeration value="lax"/>
       <enumeration value="strict"/>
      </restriction>
     </simpleType>
    </attribute>
   </extension>
  </complexContent>
 </complexType>

 <element name="any" id="any">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-any"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="wildcard">
     <attributeGroup ref="occurs"/>
    </extension>
   </complexContent>
  </complexType>
 </element>

  <annotation>
   <documentation xml:lang="en">
   simple type for the value of the 'namespace' attr of
   'any' and 'anyAttribute'</documentation>
  </annotation>
  <annotation>
   <documentation xml:lang="en">
   Value is
              ##any      - - any non-conflicting WFXML/attribute at all

              ##other    - - any non-conflicting WFXML/attribute from
                              namespace other than targetNS

              ##local    - - any unqualified non-conflicting WFXML/attribute 

              one or     - - any non-conflicting WFXML/attribute from
              more URI        the listed namespaces
              references
              (space separated)

    ##targetNamespace or ##local may appear in the above list, to
        refer to the targetNamespace of the enclosing
        schema or an absent targetNamespace respectively</documentation>
  </annotation>

 <simpleType name="namespaceList">
  <annotation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <union>
   <simpleType>
    <restriction base="token">
     <enumeration value="##any"/>
     <enumeration value="##other"/>
    </restriction>
   </simpleType>
   <simpleType>
    <list>
     <simpleType>
      <union memberTypes="uriReference">
       <simpleType>
        <restriction base="token">
         <enumeration value="##targetNamespace"/>
         <enumeration value="##local"/>
        </restriction>
       </simpleType>
      </union>
     </simpleType>
    </list>
   </simpleType>
  </union>
 </simpleType>

 <element name="attribute" substitutionGroup="schemaTop" type="topLevelAttribute" id="attribute">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-attribute"/>
  </annotation>
 </element>

 <complexType name="attributeGroup" abstract="true">
  <complexContent>
   <extension base="annotated">
    <group ref="attrDecls"/>
    <attributeGroup ref="defRef"/>
   </extension>
  </complexContent>
 </complexType>
 
 <complexType name="namedAttributeGroup">
  <complexContent>
   <restriction base="attributeGroup">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
     <group ref="attrDecls"/>
    </sequence>
    <attribute name="name" use="required" type="NCName"/>
    <attribute name="ref" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <complexType name="attributeGroupRef">
  <complexContent>
   <restriction base="attributeGroup">
    <sequence>
     <element ref="annotation" minOccurs="0"/>
    </sequence>
    <attribute name="ref" use="required" type="QName"/>
    <attribute name="name" use="prohibited"/>
   </restriction>
  </complexContent>
 </complexType>

 <element name="attributeGroup" type="namedAttributeGroup" substitutionGroup="redefinable" id="attributeGroup">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-attributeGroup"/>
  </annotation>
 </element>

 <element name="include" id="include">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-include"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="annotated">
     <attribute name="schemaLocation" type="uriReference" use="required"/>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <element name="redefine" id="redefine">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-redefine"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="openAttrs">
     <choice minOccurs="0" maxOccurs="unbounded">
      <element ref="annotation"/>
      <element ref="redefinable"/>
     </choice>
     <attribute name="schemaLocation" type="uriReference" use="required"/>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <element name="import" id="import">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-import"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="annotated">
     <attribute name="namespace" type="uriReference"/>
     <attribute name="schemaLocation" type="uriReference"/>
    </extension>
   </complexContent>
  </complexType>
 </element>
 
 <simpleType name="XPathExprApprox">
  <annotation>
   <documentation xml:lang="en">
   An XPath expression</documentation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <restriction base="string">
   <pattern value="(/|//|\.|\.\.|:|::|\||(\c-[.:/|])+)+">
    <annotation>
     <documentation xml:lang="en">
   A VERY permissive definition, probably not even right</documentation>
    </annotation>
   </pattern>
  </restriction>
 </simpleType>
 
 <complexType name="XPathSpec">
  <complexContent>
   <extension base="annotated">
     <attribute name="xpath" type="XPathExprApprox"/>
   </extension>
  </complexContent>
 </complexType>

 <element name="selector" type="XPathSpec" id="selector">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-selector"/>
  </annotation>
 </element>

 <element name="field" id="field" type="XPathSpec">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-field"/>
  </annotation>
 </element>

 <complexType name="keybase">
  <complexContent>
   <extension base="annotated">
    <sequence>
     <element ref="selector"/>
     <element ref="field" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="name" type="NCName" use="required"/>
   </extension>
  </complexContent>
 </complexType>

 <element name="identityConstraint" type="keybase" abstract="true" id="identityConstraint">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-identityConstraint"/>
  </annotation>
 </element>

 <element name="unique" substitutionGroup="identityConstraint" id="unique">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-unique"/>
  </annotation>
 </element>
 <element name="key" substitutionGroup="identityConstraint" id="key">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-key"/>
  </annotation>
 </element>
 <element name="keyref" substitutionGroup="identityConstraint" id="keyref">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-keyref"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="keybase">
     <attribute name="refer" type="QName" use="required"/>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <element name="notation" substitutionGroup="schemaTop" id="notation">
  <annotation>
   <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-notation"/>
  </annotation>
  <complexType>
   <complexContent>
    <extension base="annotated">
     <attribute name="name" type="NCName" use="required"/>
     <attribute name="public" type="public" use="required"/>
     <attribute name="system" type="uriReference"/>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <simpleType name="public">
  <annotation>
   <documentation xml:lang="en">
   A public identifier, per ISO 8879</documentation>
   <documentation xml:lang="en">
   A utility type, not for public use</documentation>
  </annotation>
  <restriction base="token"/>
 </simpleType>

 <element name="appinfo" id="appinfo">
   <annotation>
     <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-appinfo"/>
   </annotation>
   <complexType mixed="true">
     <sequence minOccurs="0" maxOccurs="unbounded">
       <any processContents="lax"/>
     </sequence>
     <attribute name="source" type="uriReference"/>
   </complexType>
 </element>

 <element name="documentation" xmlns:x="http://www.w3.org/XML/1998/namespace" id="documentation">
   <annotation>
     <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-documentation"/>
   </annotation>
   <complexType mixed="true">
     <sequence minOccurs="0" maxOccurs="unbounded">
       <any processContents="lax"/>
     </sequence>
     <attribute name="source" type="uriReference"/>
   <attribute ref="x:lang"/>
   </complexType>
 </element>

 <element name="annotation" id="annotation">
   <annotation>
     <documentation xml:lang="en" source="http://www.w3.org/TR/xmlschema-1/#element-annotation"/>
   </annotation>
   <complexType>
     <choice minOccurs="0" maxOccurs="unbounded">
       <element ref="appinfo"/>
       <element ref="documentation"/>
     </choice>
   </complexType>
 </element>

 <annotation>
  <documentation xml:lang="en">
   notations for use within XML Schema schemas</documentation>
 </annotation>

 <notation name="XMLSchemaStructures" public="structures" system="http://www.w3.org/2000/08/XMLSchema.xsd"/>
 <notation name="XML" public="REC-xml-19980210" system="http://www.w3.org/TR/1998/REC-xml-19980210"/>
 
 <complexType name="anyType" mixed="true">
  <annotation>
   <documentation xml:lang="en">
   Not the real urType, but as close an approximation as we can
   get in the XML representation</documentation>
  </annotation>
  <sequence>
   <any minOccurs="0" maxOccurs="unbounded"/>
  </sequence>
  <anyAttribute/>
 </complexType>
</schema>
